@font-face {
  font-family: 'Wremena';
  src: url('static/fonts/Wremena Regular.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Karla';
  src: url('static/fonts/Karla-Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Karla';
  src: url('static/fonts/Karla-Bold.ttf') format('truetype');
  font-weight: 600;
}

* {
  font-family: 'Karla', sans-serif;
  font-size: 100%; 
}

.controls {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;  */
  padding: 1em 0 1em 0;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 90%;
}

.control  {
  flex: 1 1 auto;
  margin: .2em;
}

.control label:after {
  content: ": "
}

.control.length-slider input[type="number"] {
  max-width: 5em;
}

button {
  width: 100%;
}

.App {
  position: absolute;
  top: 1em;
  right: .8em;
  bottom: 1em;
  left: .8em;
  display: flex;
  flex-direction: column;
}

.controls {
  flex: 0 0 auto;
}

.generatedText {
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
  margin: 0 .2em 0 .2em;
}

.fragmentSelector {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
}

.fragment {
  flex: 1 1 auto;
  padding: 10px;
  margin: 5px;
  border: 1px solid #efefef;
  cursor: pointer;
  font-size: 1.75em;
}

.fragment:before {
  content: "...";
}

.fragment:hover {
  border: 1px solid #666666;
}

textarea {
  padding: 0.5em;
  font-size: 1.75em;
  background-color: transparent;
  border: none;
  box-shadow: inset 0px 0px 5px rgba(139, 139, 139, 0.726);
}

.generatedText textarea {
  position: absolute;
  width: calc(100% - 1em);
  height: calc(100% - 1.25em);
}

#previewText {
  color: #999999;
  box-shadow: none;
}

input, button {
  background: white;
  border: 1px solid #999999;
  padding: 5px;
  vertical-align: top;
}

button:hover {
  border-color: #333333;
  color: #333333;
}

button:active {
  box-shadow: inset 0px 0px 2px rgba(190, 190, 190, 0.726);
}

input[type="range"] {
  border: none;
}

.control {
  vertical-align: top;
}

.control.slider {
  text-align: center;
}

.control.slider label {
  padding-top: .3em;
  margin-left: 1em;
  display: inline-block;
}

#about {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5em;
  background: white;
  display: flex;
  flex-direction: column;
}

#about section {
  flex: 0 0 auto;
}

#about section.grow {
  flex: 1 0 auto;
}

#about p {
  font-size: 1.75em;
}

#about p.small {
  font-size: 1.1em;
}

#about p.small.first {
  margin-top: 5em;
}

#closeAbout {
  width: initial;
  position: absolute;
  top: 2.2em;
  right: 1.2em;
}